# Telegram bot token
BOT_TOKEN=1234567890:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

MAX_FILE_MB=45
DOWNLOAD_DIR=downloads
MINI_APP_URL=https://sening-mini-app-linking.netlify.app

ENABLE_FORCE_SUB=true
FORCE_SUB_CHANNELS=@sening_kanaling
FORCE_SUB_URLS=https://t.me/sening_kanaling
FORCE_SUB_TITLES=Bizning kanal

# Instagram cookies kerak bo‘lsa ishlatiladi. Public GitHubga cookies fayl yuklamang.
INSTAGRAM_COOKIES_FILE=cookies/instagram.txt

# Render avtomatik PORT beradi. Lokal kompyuterda 10000 ishlaydi.
PORT=10000
